<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=., initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="main">
      <div class="form">
        <img src="image/brella-io-logo-vector.png" alt="Logo" />
        <p>
          Meet new people at events and <br />
          conferences
        </p>
        <input type="text" placeholder="hello@example.com" /> <br />
        <small><i>We’ll check if you have an account</i></small>
        <br />
        <button class="button">continue with email</button>
        <br />
        <br />
        <br />
        <a href="">Continue with LinkedIn, Google, Apple or Facebook</a>
        <br />
        <br />
        <br />
        <hr style="width: 50%" />
        <br />
        <br />
        <br />
        <span>Signing in means you accept our <a href="">Terms & Privacy Policy</a></span>
        <br>
        <br>
        <span>Brella is the world's leading <a href="">event networking software</a></sspan>
      </div>
    </div>
  </body>
</html>
